body {
	padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
}

header.jumbotron{
	background: url(../img/bg-header.jpg) 50% 50% no-repeat;
	background-size: 100%;
	color: #fff;
	margin: 0 0 2%;
	padding: 2.5% 0;
}
header.jumbotron .logo img{
	display: block;
	margin: 0 auto;
	max-width: 50%;
}

#searchBar{
	background: #e6e6e6;
	border: 1px solid #d5d5d5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 2em;
}

footer{
	background: #999;
	padding: 2.5% 0;
}